<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<h1>Get Your Price Quote</h1>


<body>

<img src="{{ url_for('static', filename='images/shoptobd.png') }}" alt="Logo">


<form id="linkForm" action="{{ url_for('handle_data') }}" method="post">
    Link<br>
    <input type="text" name="link"><br>
</form>

<button type="submit" form="linkForm" value="Submit">Get Price Quote</button>

<form>
    <fieldset>
        <p>
            <label>Select Website</label>
            <select id="myList" name="myList">
                <option value="amazon-prime" name="amazon-prime">Amazon Prime</option>
                <option value="aldo-canada" name="aldo-canada">Aldo Canada</option>
                <option value="fossil-canada" name="fossil-canada">Fossil Canada</option>
            </select>
        </p>
    </fieldset>
</form>

</body>
</html>